from common import MODAPI_SECRET_KEY as secret
from common import MODAPI_BASE_URL as base_url

DASHBOARD_ITEM_ROUTES = [
    "/github/streak/dashboard/",
    "/todoist/today/dashboard/",
    "/lastfm/today/dashboard/",
    "/dashboard/countdowns/"
]

def dashboard_routes:
    return DASHBOARD_ITEM_ROUTES