<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dashboard</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="{{ url_for('dashboard.static', filename='dashboard.css') }}">
</head>
<body>
<div class="content">
<div class="pure-g">
<!--
this batch filter doesn't actually do anything
because pure doesn't care about rows,
but I'm leaving it here because it's cool
-->
{% for grid_row in grid_items | batch(8) %}
    {% for item in grid_row %}
    <div class="pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-8">
        <div class="l-box dashboard-item"
            {% if 'color' in item %} style="background-color: {{ item['color'] }}" {% endif %} >
            <h3 class="dashboard-title">{{ item['title'] }}</h3>
            <p class="dashboard-body">{{ item['body'] }}</p>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>
</div>
</body>
</html>